<header class="header">
  <a href="{{ROOT}}index.html" class="illiviumLogoRedirect">
    <div class="illiviumLogoContainer">
      <img
        class="illiviumLogo"
        src="{{ROOT}}assets/images/general/illivium-logo.webp"
        alt="illivium-logo"
      />
    </div>
    <h1>ILLIVIUM-TACTICS</h1>
  </a>

  <nav class="headerNav">
    <ul class="navbarMain">
      <li class="navbarMainList"><a href="{{ROOT}}index.html">Accueil</a></li>
      <li class="navbarMainList hasSub">
        Guide de Boss
        <ul class="navbarSub">
          <li class="navbarSubList">
            <a href="{{ROOT}}pages/boss-guide.html?raid=the-venomous-abyss&boss=nekzali">The Venomous Abyss</a>
          </li>
        </ul>
      </li>
      <li class="navbarMainList">
        <a href="{{ROOT}}pages/raid-comp.html">Composition de raid</a>
      </li>
    </ul>
  </nav>
</header>
